body {
	background-image: linear-gradient(to bottom right, #45a3b9, yellow);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.display-flex.justify-space-between.align-center.p-2 {
    align-content: center;
    display: flex;
    justify-content: space-around;
  }

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.gap5 {
    grid-gap: 5px;
}
.gap10 {
    grid-gap: 10px;
}
.gap15 {
    grid-gap: 15px;
}