.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.gap5 {
    grid-gap: 5px;
}
.gap10 {
    grid-gap: 10px;
}
.gap15 {
    grid-gap: 15px;
}